<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('保险列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>保险名：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:insurance:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:insurance:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:insurance:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:insurance:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:insurance:remove')}]];
    var prefix = ctx + "system/insurance";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "保险",
            columns: [{
                checkbox: true
            },
                {
                    field: 'insuranceId',
                    title: '保险ID'
                },
                {
                    field: 'companyId',
                    title: '保险公司ID'
                },
                {
                    field: 'premium',
                    title: '保费'
                },
                {
                    field: 'name',
                    title: '保险名'
                },
                {
                    field: 'level1Num',
                    title: '一级赔付额'
                },
                {
                    field: 'level1ClaimRatio',
                    title: '一级赔付比'
                },
                {
                    field: 'level2Num',
                    title: '二级赔付额'
                },
                {
                    field: 'level2ClaimRatio',
                    title: '二级赔付比'
                }
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>